{% load static %}

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">


<div class="text-center  mb-12 mt-12 ">
  
  <h1 class="text-3xl md:text-4xl font-extrabold text-yellow-500 tracking-wide">
    Our Features
  </h1>

  <p class="mt-2 text-lg md:text-xl text-gray-600">
    Track your Expense 🚀 
  </p>

  
</div>

<div class="max-w-7xl mx-auto px-4 py-10">
  <div class="swiper mt-12 w-full">
    <div class="swiper-wrapper">

      <!-- Slide 1 -->

      <div class="swiper-slide">
        <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-xl hover:-translate-y-2 
         transition-all duration-300 text-center">
          <div class="text-blue-600 text-4xl mb-4">
            💰
          </div>
            <h3 class="text-xl font-semibold mb-2">
              Add & Manage Expenses
            </h3>
            <p class="text-gray-600">
              Easily record your daily income and expenses.
            </p>
        </div>
      </div>  

      <!-- Slide 2 -->

      <div class="swiper-slide">
        <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-xl hover:-translate-y-2 
         transition-all duration-300 text-center">
          {% comment "" %}<img src="{% static 'common/images/icon-2.png' %}" class="h-16 mx-auto mb-4">{% endcomment %}
          <div class="text-blue-600 text-4xl mb-4">
            📊
          </div>
           <h3 class="text-xl font-semibold mb-2">Visual Reports</h3>
            <p class="text-gray-600">
            View charts and summaries to understand your spending habits better.
            </p>
        </div>
      </div>

      <!-- Slide 3 -->

      <div class="swiper-slide">
        <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-xl hover:-translate-y-2 
         transition-all duration-300 text-center">
          {% comment "" %}<img src="{% static 'common/images/icon-2.png' %}" class="h-16 mx-auto mb-4">{% endcomment %}
          <div class="text-purple-600 text-4xl mb-4">
          🔔
          </div>
          <h3 class="text-xl font-semibold mb-2">Expense Reminders</h3>
          <p class="text-gray-600">
           Set reminders for bill payments and never miss important due dates.
          </p>
        </div>
      </div>

      <!-- Slide 4 -->

      <div class="swiper-slide">
        <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-xl hover:-translate-y-2 
         transition-all duration-300 text-center">
          {% comment "" %}<img src="{% static 'common/images/24_7_support_card.png' %}" class="h-16 mx-auto mb-4">{% endcomment %}
          <div class="text-indigo-600 text-4xl mb-4">
           📅
          </div>
          <h3 class="text-xl font-semibold mb-2">Monthly Expense Tracking</h3>
          <p class="text-gray-600">
           Track your expenses month-wise and analyze your budget performance.
          </p>
        </div>
      </div>

        <!-- Slide 5 -->  
      
      <div class="swiper-slide">
        <div class="bg-white p-6 rounded-xl shadow text-center hover:bg-yellow-300">
          {% comment "" %}<img src="{% static 'common/images/24_7_support_card.png' %}" class="h-16 mx-auto mb-4">{% endcomment %}
          <div class="text-indigo-600 text-4xl mb-4">
           🤝
          </div>
          <h3 class="text-xl font-semibold mb-2">Shared Expense</h3>
          <p class="text-gray-600">
           Split and manage expenses easily with friends, family, or colleagues.
          </p>
      </div>
       
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper('.swiper', {
      loop: true,
      spaceBetween: 20,
      grabCursor: true,
      centeredSlides: false,
      autoplay: {
        delay: 2500,   // 1000ms is too fast
        disableOnInteraction: false,
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        640: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 3,
        },
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>