{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class="bg-gray-50 text-gray-800 min-h-screen flex flex-col">

    <!-- ====================== HEADER ====================== -->
    <header class="bg-blue-50 shadow-sm cover">
        <nav class="max-w-7xl mx-auto px-8 py-4 flex items-center justify-between">
            <img src="{% static 'image/logo.png' %}" alt="logo" class="h-[35px] w-15 mr-3 rounded-lg" />

            <h1 class="text-3xl font-bold text-white-600">
             Expense Tracker
            </h1>
            <div class="space-x-4">
            <a href="{% url 'Register_page' %}"
                class="px-4 py-2 text-sm font-semibold border border-slate-800 text-slate-800 rounded-lg hover:bg-slate-800 hover:text-white transition">
                Register
            </a>

            <a href="{% url 'login_page' %}"
                class="px-4 py-2 text-sm font-semibold border border-slate-800 text-slate-800 rounded-lg hover:bg-slate-800 hover:text-white transition">
                Login
            </a>
            </div>

        </nav>
    </header>

    <!-- ====================== content SECTION ====================== -->
    <section class="relative flex-grow w-full bg-cover bg-center"
     style="background-image: url('{% static 'image/home.jpg' %}');">

    <div class="absolute inset-0 flex items-center justify-center
                backdrop-brightness-75 text-center">

        <div class="max-w-3xl px-6">
            <h2 class="text-5xl font-bold text-white mb-4 drop-shadow-lg">
                Welcome to Expense Tracker
            </h2>

            <p class="text-xl text-gray-200 drop-shadow">
                Track your expenses effortlessly and take control of your finances today!
            </p>
        </div>

    </div>
</section>


     <!-- ====================== FOOTER ====================== -->
    <footer class="bg-blue-50 py-4 border-t mt-auto text-center text-sm text-gray-500">
    © 2025 AKA / Expense Tracker — All Rights Reserved. <br>
    Developed by Arun, Krishnendhu and Alan
</footer>


</body>

</html>