 <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
 <aside class="w-64 min-h-screen bg-white shadow-md p-6 mt-6">
      <h2 class="text-xl font-bold mb-6 text-indigo-600">Menu</h2>
      <ul class="space-y-3 text-gray-700">
        <li><a href="{% url 'add_family_member' %}" class="hover:text-indigo-600">Register Family</a></li>
        
        <li><a href="{% url 'Expense_page' %}" class="hover:text-indigo-600">User Expense</a></li>
        <li><a href="{% url 'reports_page' %}" class="hover:text-indigo-600">Report</a></li>
        <li><a href="{% url 'Category_page' %}" class="hover:text-indigo-600">Category</a></li>
        <li><a href="{% url 'Reminder1_page' %}" class="hover:text-indigo-600">Add Reminders</a></li>
        <li><a href="{% url 'Memberlist_page' %}" class="hover:text-indigo-600">Family Member List</a></li>
        <!-- <li><a href="{% url 'paypage' %}" class="hover:text-indigo-600">Payment</a></li> -->
        <li><a href="{% url 'reminder_list1' %}" class="hover:text-indigo-600">Your reminders</a></li>
        <li><a href="{% url 'Transaction1_page' %}" class="hover:text-indigo-600">User Transaction List</a></li>
        <li><a href="{% url 'Categorylist_page' %}" class="hover:text-indigo-600">Category List</a></li>
      </ul>
    </aside>